/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #d62300;
  --vp-c-brand-light: #d62300;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #d62300,
    #ecf403
  );
  --vp-button-brand-bg: #d62300;
  --vp-button-brand-hover-border: #d62300;
}
